name: Pull requests

on:
  pull_request:
    branches:
    - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: "europe-north1-docker.pkg.dev/svetochdev-internal/containers/bazelisk:v1.28.1"
    steps:
    - uses: actions/checkout@v6.0.2
    - name: test
      run: bazel test //...
